body {
    font-family: helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header{
    background-color: black;
    display: flex;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
}

header nav, a{
    
}

header img{
    margin-left: 10px;
}

.mission{
    display: flex;
    height: 700px;
    width: 1200px;
    padding-top: 120px;
    background-image: url(../images/img-mission-background.jpg);
    flex-flow: column wrap;
    justify-content: center;
    

}

.mistext{
    display: block;
    background-color: black;
    
}

.mistext h2{
    display: block;
}

.teaofmonth{
    
}

.imagebar{
    
}

.tea{
    
}

.locations{
    
}

.location{
    
}

footer{
    
}

